.section {
    margin-top: 3vh;
    padding-top: 4vh;
}
.section h5{
    font-size: 16px;
    font-weight: 900;
}
.title-section, .footer-section {
    text-align: center;
    letter-spacing: 1px;
}
.subtitle-section {
    font-size: 14px;
    font-family: Arial, Helvetica, Reguler;
}